#blue{
    background-color: blue;
}

#orange{
    background-color: orangered;
}

#yellow{
    background-color: yellowgreen;
}

#black{
    background-color: black;
    color: aliceblue;
}

#grey{
    background-color: grey;
}

.button{
    color: aliceblue;
}